# TODO: Remove this
# Reverse proxy with HTTP basic auth for accessing prefect UI
#

{
  log {
    output stdout
    format console
  }
}

# Prefect UI
:4200 {

  handle {
    basicauth {
      admin {{ caddy_password_hash }}
    }
    reverse_proxy localhost:4200

  }

}
