---
- name: Deploy Caddy Web Server
  hosts: prefect_servers
  become: yes
  tags: 
    - "prefect-server"
  vars:
    caddy_config_dir: "/etc/caddy"
    caddy_password: "{{ hostvars['localhost']['caddy_password'] | default(lookup('env', 'CADDY_PASSWORD')) }}"
      
  tasks:
    - name: Create temporary directory for Caddy packages
      file:
        path: "/tmp/caddy-packages"
        state: directory
        mode: "0755"

    - name: Copy Caddy .deb packages to server
      copy:
        src: "{{ item }}"
        dest: "/tmp/caddy-packages"
        mode: "0644"
      with_fileglob:
        - "/tmp/offline-packages/caddy/*.deb"

    - name: Install Caddy package
      shell: "dpkg install /tmp/caddy-packages/*.deb || apt install --yes --fix-broken --allow-downgrades /tmp/caddy-packages/*.deb"
      register: apt_caddy_result
      failed_when: apt_caddy_result.rc != 0
      notify: restart caddy

    - name: Create Caddy configuration directory
      file:
        path: "{{ caddy_config_dir }}"
        state: directory
        mode: "0755"

    - name: Generate Caddy basic auth password hash
      shell: |
        echo "{{ caddy_password }}" | /usr/bin/caddy hash-password
      register: caddy_hash_result
      changed_when: false

    - name: Create Caddy configuration file
      template:
        src: "templates/Caddyfile.j2"
        dest: "{{ caddy_config_dir }}/Caddyfile"
        mode: "0644"
      vars:
        caddy_password_hash: "{{ caddy_hash_result.stdout }}"
      notify: restart caddy

    - name: Start and enable Caddy
      systemd:
        name: caddy
        state: started
        enabled: yes

    - name: Clean up temporary Caddy .deb files
      file:
        path: "/tmp/{{ item | basename }}"
        state: absent
      with_fileglob:
        - "/tmp/offline-packages/caddy/*.deb"

  handlers:
    - name: restart caddy
      systemd:
        name: caddy
        state: restarted