# inventory.yml.example file - copy this into a new inventory.yml file and fill with real values

---
prefect_servers:
  hosts:
    10.0.100.164:

# GPU-enabled workers
prefect_workers_gpu:
  hosts:
    10.0.100.167:
      worker_gpu_ids: "0,1"
      cpu_worker_limit: 16
    10.0.100.36:
      worker_gpu_ids: "0,1,2"
      cpu_worker_limit: 8
  vars:
    enable_gpu_worker: true
    enable_cpu_worker: true


# workers that only have CPU compute available
prefect_workers_cpu:
  hosts:
    # this host has no GPUs ;(
    10.0.100.22:
      cpu_worker_limit: 32
  vars:
    enable_gpu_worker: false
    enable_cpu_worker: true

prefect_workers:
  children:
    prefect_workers_gpu:
    prefect_workers_cpu:
