# inventory.yml.example file - copy this into a new inventory.yml file and fill with real values

---
prefect_servers:
  hosts:
    10.0.100.230:

prefect_workers_green:
  hosts:
    10.0.100.60:
    10.0.100.20:
  vars:
    work_pool_name: green

prefect_workers_blue:
  hosts:
  vars:
    work_pool_name: blue

prefect_workers:
  children:
    prefect_workers_green:
    prefect_workers_blue:
