---
- name: Deploy Prefect server with pixi
  hosts: prefect_servers
  become: yes
  tags: 
    - "prefect-server"
  vars:
    prefect_server_ip: "{{ groups['prefect_servers'][0] }}"
    prefect_api_url: "http://0.0.0.0:4201/api"
    postgresql_password: "{{ hostvars['localhost']['postgresql_password'] | default(lookup('env', 'POSTGRESQL_PASSWORD')) }}"

  tasks:
    - name: Create Prefect server systemd unit
      template:
        src: "templates/prefect-server.service.j2"
        dest: "/etc/systemd/system/prefect-server.service"
        mode: "0644"
      notify:
        - reload systemd
        - restart prefect server

    - name: Start and enable Prefect server
      systemd:
        name: prefect-server
        state: started
        enabled: yes
        daemon_reload: yes

    - name: Wait for Prefect server to start
      wait_for:
        port: 4201
        host: "{{ prefect_server_ip }}"
        delay: 10
        timeout: 180

    - name: Create Prefect green work pool
      become: yes
      become_user: prefect
      shell: >
        cd /opt/prefect && \
        pixi-env/env/bin/prefect work-pool create green-pool --type process
      environment:
        PREFECT_API_URL: "{{ prefect_api_url }}"
        HOME: /opt/prefect
      ignore_errors: yes

    - name: Create Prefect blue work pool
      become: yes
      become_user: prefect
      shell: >
        cd /opt/prefect && \
        pixi-env/env/bin/prefect work-pool create blue-pool --type process
      environment:
        PREFECT_API_URL: "{{ prefect_api_url }}"
        HOME: /opt/prefect
      ignore_errors: yes

    - name: Create Prefect blue low priority queue
      become: yes
      become_user: prefect
      shell: >
        cd /opt/prefect && \
        pixi-env/env/bin/prefect work-queue create low --pool blue-pool --priority 10
      environment:
        PREFECT_API_URL: "{{ prefect_api_url }}"
        HOME: /opt/prefect
      ignore_errors: yes

    - name: Create Prefect blue high priority queue
      become: yes
      become_user: prefect
      shell: >
        cd /opt/prefect && \
        pixi-env/env/bin/prefect work-queue create high --pool blue-pool --priority 5 --limit 3
      environment:
        PREFECT_API_URL: "{{ prefect_api_url }}"
        HOME: /opt/prefect
      ignore_errors: yes

    - name: Create Prefect blue critical priority queue
      become: yes
      become_user: prefect
      shell: >
        cd /opt/prefect && \
        pixi-env/env/bin/prefect work-queue create critical --pool blue-pool --priority 1 --limit 1
      environment:
        PREFECT_API_URL: "{{ prefect_api_url }}"
        HOME: /opt/prefect
      ignore_errors: yes

    - name: Create Prefect green low priority queue
      become: yes
      become_user: prefect
      shell: >
        cd /opt/prefect && \
        pixi-env/env/bin/prefect work-queue create low --pool green-pool --priority 10
      environment:
        PREFECT_API_URL: "{{ prefect_api_url }}"
        HOME: /opt/prefect
      ignore_errors: yes

    - name: Create Prefect green high priority queue
      become: yes
      become_user: prefect
      shell: >
        cd /opt/prefect && \
        pixi-env/env/bin/prefect work-queue create high --pool green-pool --priority 5 --limit 3
      environment:
        PREFECT_API_URL: "{{ prefect_api_url }}"
        HOME: /opt/prefect
      ignore_errors: yes

    - name: Create Prefect green critical priority queue
      become: yes
      become_user: prefect
      shell: >
        cd /opt/prefect && \
        pixi-env/env/bin/prefect work-queue create critical --pool green-pool --priority 1 --limit 1
      environment:
        PREFECT_API_URL: "{{ prefect_api_url }}"
        HOME: /opt/prefect
      ignore_errors: yes

  handlers:
    - name: reload systemd
      systemd:
        daemon_reload: yes

    - name: restart prefect server
      systemd:
        name: prefect-server
        state: restarted