# secrets.yml.example file - copy this into a new secrets.yml file and fill with real values

---
postgresql_password: "your_secure_postgresql_password_here"
prefect_basic_auth_key: "admin:my_password"
