# secrets.yml.example file - copy this into a new secrets.yml file and fill with real values

---
postgresql_password: "your_secure_postgresql_password_here"
caddy_password: "your_secure_caddy_password_here"
